<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <style>
        .container {
            width: 50;
            float: left;
            margin: 20px;
        }
        .input {
    padding: 10px 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 400px;
  }
  .buton {
    padding: 5px 15px;
    border: 1px solid #CCC;
    background-color: #4183c4;
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
  }
    </style>
</head>

<body>
    <div id="app">
        <div class="form">
            <form class="search">
                <input class="input"type="text" v-model="inputText"/>
                <input class="buton" type="button" value="Ara" v-on:click="ara"/>
            </form>
            <p v-if="isLoading">Yükleniyor.....</p>
        </div>

        <div class="container" v-for="item in liste">
            <img :src="item.images.fixed_height.url" />
        </div>

    </div>

    <script src="main.js"></script>
</body>

</html>